.footer {
  width: 100%;
  height: 87.35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    217.32deg,
    #fcfcfd -0.01%,
    rgba(252, 252, 253, 0.6) 100%
  );
}
.footer ul {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.footer ul li {
  list-style: none;
}
.footer ul li a {
  text-decoration: none;
  color: #9E9E9E;
  font-size: 28.83203125px;
}
.footer ul li a.active{
  color: #000000;
}